.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
    align-items: center;
}

.App-header {
    background-color: #222;
    height: 500px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
#main {
    margin-top: 110px;
}

#regForm {
    margin-top: 30px;
}

.hero-unit {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 60px;
}
 .dropdown-menu {
    padding: 9px 15px;
    font-weight: bold;
    color: #777777;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
/*.container,*/
/*.navbar-static-top .container,*/
/*.navbar-fixed-top .container,*/
/*.navbar-fixed-bottom .container {*/
    /*width: 940px;*/


/*form {*/
    /*width: 80%;*/
    /*margin: 0 auto;*/
/*}*/

/*label, input {*/
    /*!* in order to define widths *!*/
    /*display: inline-block;*/
/*}*/

/*label {*/
    /*width: 30%;*/
    /*!* positions the label text beside the input *!*/
    /*text-align: right;*/
/*}*/

/*label + input {*/
    /*width: 30%;*/
    /*!* large margin-right to force the next element to the new-line*/
       /*and margin-left to create a gutter between the label and input *!*/
    /*margin: 0 30% 0 4%;*/
/*}*/

/*!* only the submit button is matched by this selector,*/
   /*but to be sure you could use an id or class for that button *!*/
/*input + input {*/
    /*float: right;*/
/*}*/

.container {
    width: 500px;
    clear: both;
}
.container input {
     width: 100%;
     clear: both;
 }